.hidescroll {
  overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar { 
    display: none; 
}

.stage {
  top:0px;
  margin: 0px;
  height: 100vh;
  width: 100%;
  background: $color-accent;
}

.lg {
  height: $base-font-size-xl;
  font-size: $base-font-size-xl
}

.centered_form {
  height: 200px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  text-align: center;
}



.card{
  background-color: aliceblue;
}

.tweet_image{
  text-align: center;
}

.tweet_text{
  color: dodgerblue;
}

.tweet_avatar{
  border-radius: 5%;
}


/* Transitions */

.transition-050 {
  -moz-transition: 0.50s;
  -webkit-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;
  transition: 0.50s;
}
.opacity85{ 
  opacity: 0.85; 
  filter: alpha(opacity=85); 
}

.module figure {
  position: relative;
  overflow: hidden;
  border:1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
}
.module .small {
  float: left;
  width: 20%;
}
.module figure img {
  display: block;
  max-width: 100%;
}
.module figcaption {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 27px;
}
.module .text {
  color: #7A8B8B;
  background-color: #fff;
  font-size:0.90em;
}
.module figure:hover figcaption { max-height: 100%;}
.module figure:hover figcaption .text {
  background-color: #7A8B8B;
  color:#fff;
}
.module figcaption a { display: block; text-decoration:none; }
.module .title {
  display: inline-block;
  padding: 5px;
  text-transform:uppercase;  
}
.module .desc {
  display: block;
}
.bgcolor {
  background-color: #fff;
}

