<!-- this view does not render an image from twitter -->
<script>
  // var socket = io.connect('http://localhost:9393');
  // socket.on('tweet', function(data) {
  //   $tweet = data
  //   console.log(data);
  // })
</script>

<div class="row " >
	<div class="card span_10 mlr-a bgc-w" >
		<div class="row">
			<div class=" user_info span_10 mlr-a">

				<img class="fl-l tweet_avatar span_2" ng-src="{{ tweet.userProfilePic }}">
				<p class="fl-l fz-xl ">@{{ streamedTweet.username }}</p>
			</div>
		</div>

		<div class="row ">
			<div class=" tweet_text span_10 mlr-a ">
				<p class="ta-c fz-xl ">{{ streamedTweet.text }}</p>
			</div>
		</div>

		<div class="row">
			<div class=" span_10 mlr-a ">
				<p class="retweets fl-l">Retweeted {{ streamedTweet.reshares}}
				 Favorites {{streamedTweet.likes}}</p>
				<p class="time_stamp fl-r fz-lg">
					{{ parseDate(streamedTweet.timestamp) | date:'yyyy-MM-dd HH:mm:ss' }}
				</p>
			</div>
		</div>

	</div>

</div>















