<div class="module" style="background-color: {{ activeColor || 'gray' }}" >
<div class="row" style="height: 100px;">
</div>
<div class="row tweet_card animated bounceInDown" ng-repeat="tweet in tweets.displayed">
  <div class="card span_10 mlr-a bgc-w" >
    <div class="row  pt-xl">
      <div class=" user_info span_10 mlr-a">
        <img class="fl-l tweet_avatar span_2" ng-src="{{ tweet.userProfilePic }}">
        <p class="fl-l fz-xl ">@ {{ tweet.username }}</p>
      </div>
    </div>

    <div class="row ">
      <div class=" tweet_text span_10 mlr-a ">
        <p class="ta-c fz-xl ">{{ tweet.text }}</p>
      </div>
    </div>

    <div class="row pb-l">
      <div class=" span_10 mlr-a ">
        <p class="retweets fl-l">Retweeted {{ tweet.reshares}}
         Favorites {{tweet.likes}}</p>
        <p class="time_stamp fl-r fz-lg">
          {{ parseDate(tweet.timestamp) | timeago }}
        </p>
      </div>
    </div>
  </div>
</div>
</div>

 
